version: '2.4'

services:
  app:
    build:
      context: .
      target: dev
    ports:
      - "8000:80"
      - "9229:9229"
    volumes:
      - .:/app
  mongo:
      image: mongo
      volumes:
        - ./data:/data/db
      ports:
        - '27017:27017'